/*
@media (min-width: 700px) {
  ion-app {
    max-width: 700px;
    margin: auto;
    position: relative;
    border-style: outset;
    border-color: var(--ion-color-light-shade);
    border-width: thin;

  }

  .scroll-content {
    overflow-y: auto;
  }
}
*/

ion-header.primary {
  border-bottom-style: inset;
  border-bottom-color: var(--ion-color-light-shade);
  border-bottom-width: thin;
}

.header-collapse-main {
  background-color: var(--ion-color-light);
}

ion-footer {
  border-top-style: none;
  border-top-color: var(--ion-color-light-shade);
  border-top-width: thin;
}

/* full screen modal styles */
ion-modal {
  --max-height: 100%;
  --max-width: 100%;

  --border-radius: 5px;
  --height: 100%;
  --width: 100%;
}

.ion-flex {
  display: flex;
}

/*
.ion-outline {
  border-style: solid;
  border-color: var(--ion-color-light-shade);
  border-width: thin;
}
*/

ion-list.ion-outline ion-item {
  border-style: solid;
  border-color: var(--ion-color-light-shade);
  border-width: thin;
  border-bottom: none; /* Remove the bottom border for all items */
}

ion-list.ion-outline ion-item:last-of-type {
  border-bottom-style: solid;
  border-bottom-color: var(--ion-color-light-shade);
  border-bottom-width: thin;
}

ion-list.ion-outline ion-item.no-border:last-of-type {
  border-left: none !important;
  border-bottom: none !important;
  border-right: none !important;
}

ion-item.ion-no-border {
  border-left: none !important;
  border-bottom: none !important;
  border-right: none !important;
}

.item-start-wrapper ion-icon {
  width: 1.2em;
  height: 1.2em;

  position: absolute;

  left: 14px;
  top: 14px;
  display: flex;
  align-self: start;
}

.item-end-wrapper {
  position: absolute;

  top: 10px;
  right: 10px;

  font-size: 0.8rem;

  display: flex;
  align-items: center;
}
